@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css">

    <!-- CSS Carrucel Funcionarios -->
    <link rel="stylesheet" href="~/css/officials.css">

    <!-- CSS Ventana Emegente -->
    <link rel="stylesheet" href="~/css/emergent.css">

</head>
<body>
    <div class="slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="~/Img/Officials1.jpeg" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">David Dell</h2>
                        <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                        <a href="#modal-opened" class="link-1" id="modal-closed">Open Modal</a>

                        <div class="container" id="modal-opened">
                            <div class="modal">

                                <div class="details">
                                    <h1 class="title">Your Title</h1>
                                    <p class="description">Slogan will be here at this place.</p>
                                </div>

                                <p class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ex dicta maiores libero minus obcaecati iste optio, eius labore repellendus.</p>

                                <button class="btn">Button &rarr;</button>

                                <a href="#modal-closed" class="link-2"></a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="~/Img/Officials2.jpg" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">David Dell</h2>
                        <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                        <a href="#modal-opened" class="link-1" id="modal-closed">Open Modal</a>

                        <div class="container" id="modal-opened">
                            <div class="modal">

                                <div class="details">
                                    <h1 class="title">Your Title</h1>
                                    <p class="description">Slogan will be here at this place.</p>
                                </div>

                                <p class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ex dicta maiores libero minus obcaecati iste optio, eius labore repellendus.</p>

                                <button class="btn">Button &rarr;</button>

                                <a href="#modal-closed" class="link-2"></a>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="~/Img/Officials3.jpg" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">David Dell</h2>
                        <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                        <a href="#modal-opened" class="link-1" id="modal-closed">Open Modal</a>

                        <div class="container" id="modal-opened">
                            <div class="modal">

                                <div class="details">
                                    <h1 class="title">Your Title</h1>
                                    <p class="description">Slogan will be here at this place.</p>
                                </div>

                                <p class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ex dicta maiores libero minus obcaecati iste optio, eius labore repellendus.</p>

                                <button class="btn">Button &rarr;</button>

                                <a href="#modal-closed" class="link-2"></a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="~/Img/Officials4.jpg" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">David Dell</h2>
                        <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                        <a href="#modal-opened" class="link-1" id="modal-closed">Open Modal</a>

                        <div class="container" id="modal-opened">
                            <div class="modal">

                                <div class="details">
                                    <h1 class="title">Your Title</h1>
                                    <p class="description">Slogan will be here at this place.</p>
                                </div>

                                <p class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ex dicta maiores libero minus obcaecati iste optio, eius labore repellendus.</p>

                                <button class="btn">Button &rarr;</button>

                                <a href="#modal-closed" class="link-2"></a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="~/Img/Officials5.jpg" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">David Dell</h2>
                        <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                        <a href="#modal-opened" class="link-1" id="modal-closed">Open Modal</a>

                        <div class="container" id="modal-opened">
                            <div class="modal">

                                <div class="details">
                                    <h1 class="title">Your Title</h1>
                                    <p class="description">Slogan will be here at this place.</p>
                                </div>

                                <p class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ex dicta maiores libero minus obcaecati iste optio, eius labore repellendus.</p>

                                <button class="btn">Button &rarr;</button>

                                <a href="#modal-closed" class="link-2"></a>

                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>

        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
    </div>
    
</body>

        <!-- Swiper JS -->

    <script src="~/js/swiper-bundle.min.js"></script>

        <!-- JavaScript -->

    <script src="~/js/script.js"></script>

</html>

